<h3><%= component.title %></h3>
<object type="image/svg+xml" data="/svg/line/rollcall_flu.svg?id=<%= component.id %>">
  <params name="src" value="/svg/line/rollcall_flu.svg?id=<%= component.id %>">
</object>
<p><%= component.caption %></p>
