<h3><%= component.title %></h3>
<div style="position:relative;">
  <div class="cart-show clickable-shim"></div>
  <object type="image/svg+xml" data="/svg/line/rollcall_flu.svg?id=<%= component.id %>">
    <params name="src" value="/svg/line/rollcall_flu.svg?id=<%= component.id %>">
  </object>
</div>
<p><%= component.caption %></p>
