<div class="navbar navbar-fixed-floating navbar-fixed-floating-bottom tools-neutral">
  <div class="navbar-inner">
    <ul class="nav">
      <li><a href="#" id="cart-mode-btn"><i class="icon-shopping-cart"></i></a></li>
      <li><a href="#" id="edit-mode-btn"><i class="icon-wrench"></i></a></li>
    </ul>
  </div>
</div>

<div class="navbar navbar-fixed-floating navbar-fixed-floating-bottom tools-cart" style="display:none;">
  <div class="navbar-inner">
    <ul class="nav">
      <li><p class="navbar-text"><i class="icon-shopping-cart"></i></p></li>
      <li><a href="#" id="cart-checkout-btn">Checkout <span id="selected-component-count" class="badge">0</span></a></li>
      <li><a href="#" class="cancel-btn">Cancel</i></a></li>
    </ul>
  </div>
</div>

<div class="navbar navbar-fixed-floating navbar-fixed-floating-bottom tools-edit" style="display:none;">
  <div class="navbar-inner">
    <ul class="nav">
      <li><p class="navbar-text"><i class="icon-wrench"></i></p></li>
      <li><a href="#" id="edit-save-btn">Save</a></li>
      <li><a href="#" class="cancel-btn">Cancel</a></li>
    </ul>
  </div>
</div>
