
.axis text{
  font-size:.7em;
}

.rule{
  stroke: #c8d0d3;
  stroke-width: 1;
}

.axis line.x, .axis line.y{
  stroke:#000;
  stroke-width:1;
}

.chart .trace{
  stroke:#99BBE8;
  fill:none;
}

.chart .point{
  stroke:#99BBE8;
  fill:white;
}
